<div class="row">
  <div class="login-form col-md-4 col-md-offset-4">
    <h3>Search Preferences</h3>
    <p> Complete the fields below for your housing search preferences. Multiple selections for each
      category are allowed. Only housing posts that match your desired criteria will be searchable and
      you can edit your preferences whenever you want.</p>

    <%= form_for @profile, url: new_profile_path do |f| %>
      <fieldset>
        <div class="form-group">
          <%= f.label :title, "Profile Title" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description, "Describe Yourself" %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :house_type, "Desired Housing Type(s)" %>
          <%= f.select :house_type, options_for_select({ "house"=> "House", "apt" => "Apartment"}),
          {}, {:multiple => true, class: "chzn-select form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :neighborhoods, "North Seattle Neighborhoods" %>
          <%= f.select :neighborhoods, options_for_select(@north_neighborhoods),
          {include_hidden: false}, {:multiple => true, class: "chzn-select form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :neighborhoods, "Central Seattle Neighborhoods" %>
          <%= f.select :neighborhoods, options_for_select(@central_neighborhoods),
          {include_hidden: false}, {:multiple => true, class: "chzn-select form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :neighborhoods, "South Seattle Neighborhoods" %>
          <%= f.select :neighborhoods, options_for_select(@south_neighborhoods),
          {include_hidden: false}, {:multiple => true, class: "chzn-select form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :bathroom_type, "Bathroom Type(s)" %>
          <%= f.select :bathroom_type, options_for_select([["private", "private"], ["shared", "shared"]]),
          {}, {:multiple => true, class: "chzn-select form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :rooms_needed, "Number of Rooms Needed" %>
          <%= f.text_field :rooms_needed, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :max_roommates, "Maximum Number of Housemates" %>
          <%= f.text_field :max_roommates, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :min_price, "Minumum Price" %>
          <%= f.text_field :min_price, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :max_price, "Maximum Price" %>
          <%= f.text_field :max_price, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :laundry, "Washer & Dryer" %>
          <%= f.select :laundry, options_for_select([["in-unit", "in-unit"], ["on-site", "on-site"],
          ["in-building", "in-building"]]), {}, {:multiple => true, class: "chzn-select form-control"} %>
        </div>
      <%= f.submit "Add Preferences", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
