<div class="row whole">
  <div class="col-md-6 col-md-offset-3" style="text-align:center">
    <% if @current_user.id == @profile.user.id %>
      <h3 style="float:right"><%= button_to "Edit Profile", edit_profile_path(@profile.id), class: "btn btn-default", method: :get %></h3>
    <% end %>
    <div class="profile" style="display: none" id= <%= @profile.id %> >
      <h1 class="profile_header"><%= @profile.user.name %> | <small> <%=  @profile.title %></small></h1>

      <h3>About Me:</h3>
        <h4><%= @profile.description %></h4>

      <h3>Looking For:</h3>
        <h4>Neighborhood: <%= JSON.parse(@profile.neighborhoods).join(",   ")%>
        </h4>
        <h4># of Rooms Needed: <%= @profile.rooms_needed %></h4>
        <h4>Bathroom: <%= JSON.parse(@profile.bathroom_type).join(",   ") %></h4>
        <h4>Laundry: <%= JSON.parse(@profile.laundry).join(",   ") %></h4>
        <h4>Parking: <%= JSON.parse(@profile.parking).join(",   ") %></h4>
    </div>
  </div>
</div>
