<div class="row">

  <div class="login-form col-md-4 col-md-offset-4">
    <% if flash.now[:login_error] %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <%= flash.now[:login_error] %>
      </div>
    <% end %>
    <h3>Log in</h3>
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <%= f.submit "Submit", class: "btn btn-default" %>
    <% end %>
    <h4 class="facebook_login_center">or</h4>
    <div class="facebook_login">
      <i class="fa fa-facebook-official fa-2x"></i><%= link_to 'Log in with Facebook', facebook_path, class: "facebook_login_font" %>
    </div>
  </div>
</div>
