<div class="row">
  <div class="login-form col-md-4 col-md-offset-4">
<h4>woo</h4>
    <h3>Sign Up!</h3>
    <% if @user.errors.any? %>
      <div>
        <%= @user.errors.full_messages.first %>
      </div>
      <br>
    <% end %>

    <%= form_for @user do |f| %>

      <fieldset>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, class: "form-control", id: "authy-cellphone" %>
        </div>

        <div class="form-group">
          <%= f.label :usertype %>
          <%= f.text_field :usertype, class: "form-control"%>
        </div>
      </fieldset>

      <%= f.submit "Create Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
