<div class="row">
  <div class="login-form col-md-4 col-md-offset-4">

  <h1><%= @user.name %></h1>

  <h3>Account Status:
    <% if @user.verified? %>
      Verified
    <% else -%>
      Not Verified
    <% end -%>
  </h3>
    <% if !@user.verified? %>
      <h3><%= link_to "Verify your account now.", show_verify_path %></h3>
    <% end -%>
  <br>
    <% if @user.post %>
      <h3><%= link_to "Edit Your Room Posting", edit_post_path(@user.post.id), class: "search-roomies" %></h3>
      <h3><%= link_to "View Your Posting", post_path(@user.id), class: "search-roomies" %></h3>
    <% elsif @user.profile %>
      <h3><%= link_to "Edit Your Profile", edit_profile_path(@user.profile.id), class: "search-roomies" %></h3>
      <h3><%= link_to "View Your Profile", profile_path(@user.id), class: "search-roomies" %></h3>
    <% end %>
  </div>
</div>
