<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @match.post_id %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @match.profile_id %>
</p>

<p>
  <strong>Approved?:</strong>
  <%= @match.approved? %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
