<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @photo.post_id %>
</p>

<p>
  <strong>Images:</strong>
  <%= @photo.images %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
