<div class="row">
  <% if @post.errors.any? %>
    <div>
      <%= @post.errors.full_messages %>
    </div>
    <br>
  <% end %>

  <div class="col-md-4 col-md-offset-4">
      <%= form_for @post, html: {multipart: true}, url: update_post_path(@post.id) do |f| %>
        <fieldset>
          <h3>Edit Post</h3>
          <p> Potential renters who match your housing post criteria will be able
          to look at your listing. You can edit your posting anytime in your settings.</p>
          <div class="form-group">
            <%= f.label :title, "Posting Title" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description, "Housing & Room Description" %>
            <%= f.text_area :description, class: "form-control" %>
          </div>
          <div class="form-group">
          <%= f.fields_for :photos do |p| %>
            <%= p.label :images, "Upload Your Photos" %>
            <p><small>Press the command button to select multiple photos for
              submission</small></p>
            <%= p.file_field :images, :multiple => true, name: "photos[images][]", class: "form-control" %>
          </div>
          <% end %>
          <%= f.hidden_field :images, value: params[:images] %>
          <div class="form-group">
            <%= f.label :house_type, "Housing Type" %>
            <%= f.select :house_type, options_for_select(@housing_types),
            {include_hidden: false}, class: "chzn-select form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :rooms_available, "Number of Rooms Available"%>
            <%= f.text_field :rooms_available, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :total_roommates, "Total Number of Housemates" %>
            <%= f.text_field :total_roommates, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :price, "Monthly Rental Price" %>
            <%= f.text_field :price, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :neighborhood, "Neighborhood" %>
            <%= f.select :neighborhood, grouped_options_for_select(@neighborhoods),
            {include_hidden: false}, class: "chzn-select form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :bathroom_type, "Bathroom Type" %>
            <%= f.select :bathroom_type, options_for_select(["Private", "Shared"]),
            {include_hidden: false}, class: "chzn-select form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :laundry, "Washer & Dryer" %>
            <%= f.select :laundry, options_for_select(["In-unit", "On-site", "In-building"]),
            {include_hidden: false}, class: "chzn-select form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :parking, "Parking" %>
            <%= f.select :parking, options_for_select(["Street", "Garage"]), {include_hidden: false},
            class: "chzn-select form-control" %>
          </div>
          <div class="checkbox-inline">
            <%= f.label "Cats" %> <br/>
            <%= f.check_box :cats %> <br/>
          </div>
          <div class="checkbox-inline">
            <%= f.label "Dogs" %> <br />
            <%= f.check_box :dogs %> <br/>
          </div>
          <div class="checkbox-inline">
            <%= f.label "Smoking" %> <br/>
            <%= f.check_box :smoking %> <br/>
          </div><br>
          <%= f.submit "Add Preferences", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
